* {
    margin:0;
    padding:0;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: system-ui;
    gap:2rem;
}

section {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

img,p {
    max-width: 800px;
    height: auto;
}